 <footer class="clearfix">
  <div class="wrapper">
    <div class="footer-l">
     @Html.Partial("FooterNavigation")
      <div id="payment-methods">
        <p>We accept the following payment methods:</p>
        <img src="@Url.Content("~/Themes/AlbionExtrusions/Content/images/global/cards.png")" alt="credit/debit cards"/> </div>
    </div>
    <div class="footer-r">
      <p>Albion Extrusions Limited<br>
        Penrose Street, Bolton, BL2 6DX<br>
      </p>
      <p>Telephone: 01204 385803<br>
        Fax: 01204 385816<br>
        <a href="mailto:info@albionextrusions.co.uk">Email: info@albionextrusions.co.uk</a></p>
      <p id="site-credit"><a href="http://www.jg1ltd.com">Made with <span>JG1</span> goodness</a></p>
    </div>
  </div>
</footer>
