<div id="branding"><a href="/"><img src="@Url.Content("~/Themes/AlbionExtrusions/Content/images/global/branding.png")" alt="Albion, Just Plas logo" /></a></div>
    <div id="header-cta">
    <p><span>Call us now!</span> 01204 385803</p>
    </div>
    @Html.Partial("MainNavigation")

    @Html.Action("SearchBox", "Catalog")