<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>Albion Extrusions</title>
<meta name="description" content="">
<meta name="author" content="JG1 Ltd">
<link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
<link href="_includes/css/fonts.css" rel="stylesheet">
<link href="_includes/css/master.css" rel="stylesheet">
<script type="text/javascript" src="http://use.typekit.com/omm8ylt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="_includes/js/jquery-1.6.min.js"></script>
<!--[if IE 7]>
    <link href="_includes/css/ie7.css" rel="stylesheet">
    <![endif]-->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
    <script src="_includes/js/selectivizr.js"></script>
    <![endif]-->
</head>
<body class="main">
<div id="container" class="clearfix">
  <header class="clearfix">
    <div class="wrapper clearfix">
      <div id="branding"><a href="index.html"><img src="_includes/images/global/branding.png" alt="Albion, Just Plas logo"></a></div>
      <div id="header-cta">
        <p><span>Call us now!</span> 01204 385803</p>
      </div>
      <nav id="primary-navigation" role="navigation">
        <ul>
          <li><a href="products.html" class="on">Products</a></li>
          <li><a href="trade.html">Trade Customers</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="special-offers.html">Special Offers</a></li>
        </ul>
      </nav>
      <div id="search-wrapper">
        <form>
          <input type="text" class="searchbox" name="s" value="" placeholder="search...">
          <input type="image" src="_includes/images/buttons/search/search.png" alt="Search" class="searchbox_submit">
        </form>
      </div>
    </div>
  </header>
  <div id="content" class="clearfix">
    <section id="primary-content" class="clearfix" role="main">
      <header class="clearfix">
        <h1><span>Functional Extrusions</span></h1>
      </header>
      <p class="description">A paragraph describing the current category. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="controls clearfix drop-shadow curved curved-hz-1">
        <form>
          <ol>
            <li>
              <label>Display:</label>
              <select id="sort">
                <option value="low-high">2</option>
                <option value="high-low">4</option>
                <option value="a-z">8</option>
                <option value="z-a">12</option>
              </select>              
              <label>per page</label>
            </li>
          </ol>
        </form>
        <ul class="pagination clearfix">
          <li><span class="disabled">&larr; Previous</span></li>
          <li><a class="current" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next &rarr;</a></li>
        </ul>
      </div>
      <ul id="generic-list" class="clearfix">
        <li><a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="product.html">View product range</a> </li>
        <li> <a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet</p>
          <a href="product.html">View product range</a> </li>
        <li> <a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="product.html">View product range</a> </li>
        <li> <a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="product.html">View product range</a> </li>
        <li> <a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="product.html">View product range</a> </li>
        <li> <a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="product.html">View product range</a> </li>
        <li> <a href="product.html" class="no-bg"><img src="_includes/images/products/placeholder.jpg" alt=""></a>
          <h2>Product title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="product.html">View product range</a> </li>
      </ul>
      <div class="controls clearfix drop-shadow curved curved-hz-1">
        <form>
          <ol>
            <li>
              <label>Sort by:</label>
              <select id="sort">
                <option value="low-high">Price low to high</option>
                <option value="high-low">Price high to low</option>
                <option value="a-z">A to Z</option>
                <option value="z-a">Z to A</option>
              </select>
            </li>
          </ol>
        </form>
        <ul class="pagination clearfix">
          <li><span class="disabled">&larr; Previous</span></li>
          <li><a class="current" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next &rarr;</a></li>
        </ul>
      </div>
    </section>
    <aside id="quick-basket" class="clearfix">
      <header class="clearfix">
        <h1>Your Basket</h1>
      </header>
      <p><a href="basket.html">2 items</a><span class="total">£17.90</span></p>
      <a href="basket.html" class="btn-alt center">Checkout now</a> </aside>
    <aside id="product-navigation" class="clearfix">
      <h1>Our Products</h1>
      <nav id="secondary-navigation" role="navigation">
        <ul>
          <li><a href="category.html">Functional extrusions</a></li>
          <li><a href="category.html">Kitchen doors</a></li>
          <li><a href="category.html">Bedroom doors</a></li>
          <li><a href="category.html">Door accessories</a></li>
          <li><a href="category.html">Vinyl Door colours</a></li>
          <li><a href="category.html">MDF wrapped profiles</a></li>
          <li><a href="category.html">Decorative trims</a></li>
          <li><a href="category.html">Handles & knobs</a></li>
          <li><a href="category.html">Hinges</a></li>
          <li><a href="category.html">Drawer runners</a></li>
          <li><a href="category.html">Accessories</a></li>
          <li><a href="category.html">Worktops</a></li>
        </ul>
      </nav>
      <dl>
        <dd> <img src="_includes/images/global/trade-price.png" alt="Download Trade Price List" /><a href="#" class="btn">Download</a></dd>
        <dd> <img src="_includes/images/global/free-delivery.png" alt="Free delivery on orders over £150!" /> </dd>
        <dd> <img src="_includes/images/global/sage.png" alt="Shop safe with Sage Pay" /> </dd>
      </dl>
    </aside>
  </div>
</div>
<footer class="clearfix">
  <div class="wrapper">
    <div class="footer-l">
      <nav id="footer-navigation" role="navigation">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Trade Customers</a></li>
          <li><a href="">News</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Special Offers</a></li>
          <li><a href="">Delivery Policy</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms and Conditions</a></li>
        </ul>
      </nav>
      <div id="payment-methods">
        <p>We accept the following payment methods:</p>
        <img src="_includes/images/global/cards.png" alt="credit/debit cards"/> </div>
    </div>
    <div class="footer-r">
      <p>Albion Extrusions Limited<br>
        Penrose Street, Bolton, BL2 6DX<br>
      </p>
      <p>Telephone: 01204 385803<br>
        Fax: 01204 385816<br>
        <a href="mailto:info@albionextrusions.co.uk">Email: info@albionextrusions.co.uk</a></p>
      <p id="site-credit"><a href="http://www.jg1ltd.com">Made with <span>JG1</span> goodness</a></p>
    </div>
  </div>
</footer>
</body>
</html>