<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>Albion Extrusions</title>
<meta name="description" content="">
<meta name="author" content="JG1 Ltd">
<link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
<link href="_includes/css/master.css" rel="stylesheet">
<script type="text/javascript" src="http://use.typekit.com/omm8ylt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="_includes/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="_includes/js/slides.min.jquery.js"></script>
<!--[if IE 8]>
    <link href="_includes/css/ie8.css" rel="stylesheet">
    <![endif]-->
<!--[if IE 7]>
	<link href="_includes/css/ie7.css" rel="stylesheet">
    <![endif]-->    
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
    <script src="_includes/js/selectivizr.js"></script>
    <![endif]-->
    	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '_includes/images/jquery/loading.gif',
				play: 4000,
				pause: 2500,
				slideSpeed: 600,
				crossfade:true,
				pagination: false,
				generatePagination: false,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:0
					},800);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},1000);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},700);
				}
			});
		});
	</script>
</head>
<body class="main">
<div id="container">
    <header class="clearfix">
      <div class="wrapper">
      <div id="branding"><a href="index.html"><img src="_includes/images/global/branding.png" alt="Albion, Just Plas logo" /></a></div>
      <div id="header-cta">
        <p><span>Call us now!</span> 01204 385803</p>
      </div>
      <nav id="primary-navigation" role="navigation">
        <ul>
          <li><a href="products.html">Products</a></li>
          <li><a href="trade.html">Trade Customers</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="special-offers.html">Special Offers</a></li>
        </ul>
      </nav>
      <div id="search-wrapper">      
      <form>
        <input type="text" class="searchbox" name="s" placeholder="search...">
        <input type="image" src="_includes/images/buttons/search/search.png" alt="search" class="searchbox_submit">
      </form>
      </div>
    </header>
    <div id="content" class="clearfix">
      <section id="primary-content" class="clearfix" role="main">
        <div id="banner">
        			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href="#" class="shadow"><img src="_includes/images/banner/placeholder.png" width="710" height="319" alt="Slide 1"></a>
						<div class="caption">
							<p>A description of the current product that is displayed in the banner.</p>
                            <footer><a class="btn-alt" href="#">Order yours today!</a></footer>
						</div>
					</div>
					<div class="slide">
						<a href="#" class="shadow"><img src="_includes/images/banner/placeholder.png" width="710" height="319" alt="Slide 2"></a>
						<div class="caption">
							<p>A different description of the current product that is displayed in the banner.</p>
                            <footer><a class="btn-alt" href="#">Order yours today!</a></footer>                            
						</div>
					</div>
					<div class="slide">
						<a href="#" class="shadow"><img src="_includes/images/banner/placeholder.png" width="710" height="319" alt="Slide 3"></a>
						<div class="caption">
							<p>Another description of the current product that is displayed in the banner.</p>
                            <footer><a class="btn-alt" href="#">Order yours today!</a></footer>                            
						</div>
					</div>
				</div>
			</div>
        </div>
        <div id="category-select">
          <h1><span>Looking for something specific?</span></h1>
          <ul class="clearfix">
            <li>
              <h2>Kitchen doors</h2>
              <select>
                <option>Classic</option>
                <option>Contour</option>
                <option>Cottage</option>
                <option>Country</option>
                <option>Gothic</option>
                <option>H Groove</option>
                <option>Roma</option>
                <option>Shaker</option>
                <option>Sweep</option>
              </select>
            </li>
            <li>
              <h2>Bedroom doors</h2>
              <select>
                <option>Classic Design</option>
              </select>
            </li>
            <li>
              <h2>Functional extrusions</h2>
              <select>
                <option>F section</option>
              </select>
            </li>
            <li>
              <h2>Door accessories</h2>
              <select>
                <option>Vinyl wrapped plynth</option>
              </select>
            </li>
            <li>
              <h2>MDF wrapped profiles</h2>
              <select>
                <option>Classical face</option>
              </select>
            </li>
            <li>
              <h2>Decorative trims</h2>
              <select>
                <option>AE1</option>
              </select>
            </li>
          </ul>
        </div>
        <div id="featured" class="clearfix">
          <h1><span>Featured Categories</span></h1>
          <ul id="categories" class="clearfix">
            <li class="drop-shadow curved curved-hz-1">
              <h2>Kitchen doors</h2>
              <img src="_includes/images/categories/kitchen-doors.png" alt="Kitchen doors"> <a href="category.html" class="btn">See the full range</a>
              <p>We supply a wide range of vinyl wrapped kitchen doors available to order.</p>
            </li>
            <li class="drop-shadow curved curved-hz-1">
              <h2>Bedroom doors</h2>
              <img src="_includes/images/categories/bedroom-doors.png" alt="Bedroom doors"> <a href="category.html" class="btn">See the full range</a>
              <p>We supply a wide range of vinyl wrapped bedroom doors available to order.</p>
            </li>
            <li class="drop-shadow curved curved-hz-1">
              <h2>Door accessories</h2>
              <img src="_includes/images/categories/door-accessories.png" alt="Door accessories"> <a href="category.html" class="btn">See the full range</a>
              <p>Our door accessories are designed to complement both our kitchen and door styles.</p>
            </li>
          </ul>
        </div>
      </section>
       <aside id="product-navigation" class="clearfix">
        <h1>Our Products</h1>
        <nav id="secondary-navigation" role="navigation">
          <ul>            <li><a href="category.html">Functional extrusions</a></li>
            <li><a href="category.html">Kitchen doors</a></li>
            <li><a href="category.html">Bedroom doors</a></li>
            <li><a href="category.html">Door accessories</a></li>
            <li><a href="category.html">Vinyl Door colours</a></li>
            <li><a href="category.html">MDF wrapped profiles</a></li>
            <li><a href="category.html">Decorative trims</a></li>
            <li><a href="category.html">Handles & knobs</a></li>
            <li><a href="category.html">Hinges</a></li>
            <li><a href="category.html">Drawer runners</a></li>
            <li><a href="category.html">Accessories</a></li>
            <li><a href="category.html">Worktops</a></li>
          </ul>
        </nav>
        <dl>
          <dd> <img src="_includes/images/global/trade-price.png" alt="Download Trade Price List" /><a href="#" class="btn">Download</a></dd>
          <dd> <img src="_includes/images/global/free-delivery.png" alt="Free delivery on orders over £150!" /> </dd>
          <dd> <img src="_includes/images/global/sage.png" alt="Shop safe with Sage Pay" /> </dd>
        </dl>
      </aside>
      <section id="secondary-content" class="clearfix">
        <header class="clearfix">
          <h1><span>Latest News</span></h1>
        </header>
        <ul id="news" class="clearfix">
          <li>
            <h2>News item #1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#">Read more</a> </li>
          <li>
            <h2>News item #2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#">Read more</a> </li>
        </ul>
        <div id="about">
          <h1><span>About Us</span></h1>
          <p>Established in 1986, Albion has become one of the UK's furniture industry leading suppliers. By providing an "all under one roof" range of products for the kitchen and bedroom markets we believe that our customer service, prices and quality are second to none.</p>
          <p>Over the years we have built a reputation for products that meet the requirements of our customers and we continue to take pride in doing so.</p>
        </div>
      </section>
      
    </div>
  </div>
</div>
<footer class="clearfix">
  <div class="wrapper">
    <div class="footer-l">
      <nav id="footer-navigation" role="navigation">
        <ul>
          <li><a href="#" class="on">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Trade Customers</a></li>
          <li><a href="">News</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Special Offers</a></li>
          <li><a href="">Delivery Policy</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms and Conditions</a></li>
        </ul>
      </nav>
      <div id="payment-methods">
        <p>We accept the following payment methods:</p>
        <img src="_includes/images/global/cards.png" alt="credit/debit cards"/> </div>
    </div>
    <div class="footer-r">
      <p>Albion Extrusions Limited<br>
        Penrose Street, Bolton, BL2 6DX<br>
      </p>
      <p>Telephone: 01204 385803<br>
        Fax: 01204 385816<br>
        <a href="mailto:info@albionextrusions.co.uk">Email: info@albionextrusions.co.uk</a></p>
      <p id="site-credit"><a href="http://www.jg1ltd.com">Made with <span>JG1</span> goodness</a></p>
    </div>
  </div>
</footer>
</body>
</html>