<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>Albion Extrusions</title>
<meta name="description" content="">
<meta name="author" content="JG1 Ltd">
<link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
<link href="_includes/css/master.css" rel="stylesheet">
<script type="text/javascript" src="http://use.typekit.com/omm8ylt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="_includes/js/jquery-1.6.min.js"></script>
<!--[if IE 7]>
    <link href="_includes/css/ie7.css" rel="stylesheet">
    <script type="text/javascript" src="_includes/js/modernizr-1.5.min"></script>
    <![endif]-->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 8]>
    <script src="_includes/js/selectivizr.js"></script>
    <![endif]-->
</head>
<body class="sub-page">
<div id="container">
  <div class="wrapper">
    <header class="clearfix">
      <div id="branding"><a href="index.html"><img src="_includes/images/global/branding.png" alt="Albion, Just Plas logo" /></a></div>
      <div id="header-cta">
        <p><span>Call us now!</span> 01204 385803</p>
      </div>
      <nav id="primary-navigation" role="navigation">
        <ul>
          <li><a href="products.html">Products</a></li>
          <li><a href="trade.html">Trade Customers</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="special-offers.html">Special Offers</a></li>
        </ul>
      </nav>
      <div id="search-wrapper">      <form>
        <input type="text" class="searchbox" name="s" placeholder="search...">
        <input type="image" src="_includes/images/buttons/search/search.png" alt="search" class="searchbox_submit">
      </form>
      </div>
    </header>
    <div id="content" class="clearfix">
      <section id="primary-content" class="clearfix" role="main">
        <header>
          <h1><span>Order complete!</span></h1>
        </header>
             <article id="order-complete">
                <h2>Thank you for shopping with Albion Extrusions</h2>
                <p>For more information about your order, please <a href="#">contact us</a>, quoting 0123456 as your order reference.</p>
                <p>This reference number has also been sent to the email address you provided to us.</p>
            </article>

      </section>
    </div>
  </div>
</div>
<footer class="clearfix">
  <div class="wrapper">
    <div class="footer-l">
      <nav id="footer-navigation" role="navigation">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Trade Customers</a></li>
          <li><a href="">News</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Special Offers</a></li>
          <li><a href="">Delivery Policy</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms and Conditions</a></li>
        </ul>
      </nav>
      <div id="payment-methods">
        <p>We accept the following payment methods:</p>
        <img src="_includes/images/global/cards.png" alt="credit/debit cards"/> </div>
    </div>
    <div class="footer-r">
      <p>Albion Extrusions Limited<br>
        Penrose Street, Bolton, BL2 6DX<br>
      </p>
      <p>Telephone: 01204 385803<br>
        Fax: 01204 385816<br>
        <a href="mailto:info@albionextrusions.co.uk">Email: info@albionextrusions.co.uk</a></p>
      <p id="site-credit"><a href="http://www.jg1ltd.com">Made with <span>JG1</span> goodness</a></p>
    </div>
  </div>
</footer>
</body>
</html>